<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="1 seconds">

    <contextName>Spring5</contextName>

    <property name="log.path" value="E:/log/logback.log" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter" />
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36}#%method - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}.%d{yyyy-MM-dd}.zip</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file:%line] %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <root level="all">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

    <!-- 设置当个类输出日志的级别, 优先级大于全局 -->
    <logger name="com.example.logback" level="warn" />
    <logger name="org.springframework.beans.factory.xml.PluggableSchemaResolver" level="info" />

</configuration>